@font-face {
    font-family: 'akiraEx';
    src: url(akira_expanded/AkiraExpandedDemo.ttf);
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --text: #fafafa;
    --background: #2a2929;
    --primary: #a0a5ae;
    --secondary: #860f0f;
    --accent: #ff666e;
}

a {
    color: var(--text);
    text-decoration: none;
}

a:visited {
    opacity: .1;
}

a:hover, a:focus {
    opacity: .75;
    color: var(--accent);
}

body {
    padding: 1em 0;
    margin: .5rem .5rem 0 .5rem;
    font-family: 'akiraEx', sans-serif;
    background-color: var(--background);
    color: var(--text);
}

img {
    width: 100%;
}

.logo {
    padding-inline-start: .75em;
    max-width: 100%;
    font-size: 2rem;
}

.logo > a {
    color: var(--accent);
    text-decoration: underline;
}

.logo > a:hover, .logo > a:focus {
    color: var(--text);
}

.container {
    width: 100%;
}

.flex-class {
    display: flex;
}

.nav-list {
    list-style: none;
    justify-content: space-around;
    padding-inline-end: .75em;
}

.nav-item {
    margin: 0 .5em;
}

.nav-link {
    text-decoration: none;
    font-size: clamp(.75rem, 1.5vw + .5rem, 1.5rem);
}

.hero-title {
    display: flex;
    justify-content: center;
}

.media-scroller {
    padding: 10em 0;
    
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 65%;
    grid-template-rows: 100%;
    gap: 1em;

    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
}

.snaps-inline > * {
    scroll-snap-align: center;
}

.media-element {
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-block-size: 75%;
    padding: 1em;
    border-radius: 10%;
    background-color: var(--primary);
}

.media-element > img {
    inline-size: 100%;
    block-size: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 10%;
    object-fit: cover;
}

.media-element > a {
    padding: 1em;
}

.call-to-action {
    margin-inline: 15%;
    padding: 1em;
    background-color: var(--accent);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    min-width: min-content;
}

.call-to-action:hover, .call-to-action:focus {
    color: var(--accent);
    background-color: var(--text);
}

.footer--container {
    min-block-size: 30dvh;
    display: flex;
    flex-direction: column;
}

.footer {
    opacity: .1;
    font-size: .75rem;
    text-align: center;
    justify-content: end;
    align-items: center;
}

@media (min-width: 800px) {
    .nav-list {
        justify-content: flex-end;
    }

    .nav-item + .nav-item {
        margin-left: 3em;
    }

    .call-to-action {
        margin-inline: 25%;
    }
}